# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Unversioned Ruby files
Gemfile.lock

# Unversioned Ceedling files
build/artifacts/*
build/logs/*
build/temp/*
build/test/*

# Unversioned VIM files
.*.swp
